* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Lexend Deca', sans-serif;
  background: #f1f3f5;
}
main {
  opacity: 0;
  transition: all 1s ease-out;
}
main.active {
  opacity: 1;
}

.navbar {
  max-width: 90%;
  margin: 1rem auto;
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.nav_title {
  font-family: 'Teko', sans-serif;
  font-size: 3rem;
  font-style: italic;
}

.login_form {
  display: flex;
  gap: 2rem;
}
.login_input {
  font-family: inherit;
  text-align: center;
  font-size: 2rem;
  border: none;
  outline: none;
  background: #fff;
  padding: 1rem;
  width: 100px;
  box-shadow: 0 0.1rem 10px rgba(0, 0, 0, 0.01);
  border-radius: 5rem;
}
.login_input:focus {
  box-shadow: inset 0 0 0 4px #d3f9d8;
}
.login_input::placeholder {
  font-size: 1.5rem;
}
.login_btn {
  background: none;
  outline: none;
  border: none;
  font-family: inherit;
}
.summary {
  max-width: 80%;
  margin: 30px auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 4rem;
}
.summary-card {
  flex-basis: 150px;
  padding: 2rem 1rem;
  border-radius: 1rem;
}
.summary-card p {
  font-size: 1.2rem;
}
.summary-card h1 {
  font-size: 2rem;
}
.in-card {
  background: #d3f9d8;
}
.in-card h1 {
  color: #37b24d;
}
.out-card {
  background: #ffe3e3;
}

.out-card h1 {
  color: #f03e3e;
}

.interest-card {
  background: #fff3bf;
}

.interest-card h1 {
  color: #f59f00;
}

.balance-card {
  background: #c3fae8;
}

.balance-card h1 {
  color: #0ca678;
}
.actions-panel {
  max-width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 30% 30% 30%;
  align-items: center;
  gap: 2rem;
}

.action-card {
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.action-title {
  font-size: 1.8rem;
  font-weight: 700;
  color: #fff;
}
.input-field {
  font-family: inherit;
  border: none;
  outline: none;
  background: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 0.5rem;
  border-radius: 0.4rem;
  width: 100%;
}
.input-field:focus {
  background: rgba(255, 255, 255, 1);
}
.action-inputs {
  display: flex;
  gap: 1rem;
  margin: 0.5rem 0;
}
.action-button {
  background: #fff;
  font-family: inherit;
  border: none;
  outline: none;
  border-radius: 0.3rem;
  cursor: pointer;
  padding: 0.5rem 1rem;
}
.send-funds-section {
  background: #51cf66;
  background: linear-gradient(
    -109deg,
    rgba(81, 207, 102, 1) 0%,
    rgba(43, 138, 62, 1) 100%
  );
}
.loan-request-section {
  background: #845ef7;
  background: linear-gradient(
    -109deg,
    rgba(132, 94, 247, 1) 0%,
    rgba(95, 61, 196, 1) 100%
  );
}

.account-deletion-section {
  background: #ff6b6b;
  background: linear-gradient(
    -109deg,
    rgba(255, 107, 107, 1) 0%,
    rgba(201, 42, 42, 1) 100%
  );
}

.transactions-panel {
  max-width: 90%;
  margin: 2rem auto;
  height: 350px;
  overflow: scroll;
}
.transactions-panel::-webkit-scrollbar {
  width: 0px;
}

.transactions-panel table {
  width: 100%;
  text-align: center;
}
.transactions-panel table {
  border-collapse: collapse;
}
.transactions-panel table thead tr {
  background: rgba(0, 0, 0, 0.05);
  font-size: 1.5rem;
  font-weight: 400;
}

.transactions-panel table thead th {
  padding: 1rem 0;
}
.transactions-panel table td {
  font-size: 1.3rem;
  padding: 1rem 0;
}
.transactions-panel table tbody tr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.093);
}
.status {
  padding: 0.2rem 0.7rem;
  border-radius: 1rem;
}

.status.success {
  background: #b2f2bb;
  color: #2f9e44;
}

.status.failed {
  background: #ffc9c9;
  color: #e03131;
}
