* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Cascadia Code', sans-serif;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__item {
  list-style: none;
}

.nav__links {
  display: flex;
  align-items: center;
  gap: 20px;
}
.nav__link {
  color: #000;
  text-decoration: none;
  padding: 5px;
  border-radius: 10px;
}

.section {
  font-family: 'Special Gothic Expanded One', sans-serif;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#section-1 {
  background: #e5dbff;
}
#section-2 {
  background: #fff3bf;
}
#section-3 {
  background: #ffdeeb;
}
